[Desktop Entry]
Name=Douane configurator
GenericName=Douane configurator
Comment=Configure Douane firewall
Type=Application
Exec=douane-configurator
Icon=douane
Categories=Network;Networking;Internet;GTK;Settings;
